{{link-to 'Back' 'index'}}

<form {{action "submit" on="submit"}}>
  <h4>Editing {{model.title}}</h4>
  <div><label>
    Title
    {{input value=model.title required=true}}
  </label></div>
  <div><label>
    Body
    {{input value=model.body required=true}}
  </label></div>
  <button type='submit'>Update</button>
</form>
