<article>
  <h2>{{model.title}}</h2>
  <p>{{model.body}}</p>
</article>

<section class="comments">
  <h4>Comments</h4>
  {{#each comment in model.comments}}
    <div>{{comment.body}}</div>
  {{/each}}

  <form {{action "submit" on="submit"}}>
    <div>Write your own comment!</div>
    {{textarea value=comment required=true}}
    <button type='submit'>Submit</button>
  </form>
</section>
